.blog-creative-flexbox {
	padding: 90px 0 98px;

	@media (max-width: 1200px) {
		justify-content: space-around;
	}
	@media (max-width: 992px) {
		padding: 40px 0 40px;
	}
	@media (max-width: 900px) {
		justify-content: space-between;
	}
	@media (max-width: 760px) {
		flex-wrap: wrap;
	}
}




