.header {
	&__top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 33px 0 20px;
		border-bottom: 2px solid #cecece;
	}
	&__contacts {
		@include reset-list;

		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 784px;

		color: $grey;
	}
	&__contacts-item {
		padding: 4px 0 4px 70px;

		position: relative;

		font-size: 15px;
		line-height: 22px;
		&::before {
			content: '';

			position: absolute;
			@include centeringLeftY;

			width: 50px;
			height: 50px;
			border-radius: 50%;

			background-color: $blue;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__contacts-item--time {
		&::before {
			background-image: url(../images/icons/clock-o.svg);
		}
	}
	&__contacts-item--mail {
		padding: 0 0 0 64px;
		&::before {
			background-image: url(../images/icons/envelope.svg);
		}
	}
	&__contacts-item--phone {
		&::before {
			background-image: url(../images/icons/mobile.svg);
		}
	}
	&__contacts-title {
		margin: 0;

		font-weight: 700;
		text-transform: uppercase;
	}
	&__contacts-text {
		margin: 0;
	}
	&__contacts-text--mail,
	&__contacts-text--phone {
		color: $grey;
		text-decoration: none;
	}
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0 30px;
	}
	&__nav {
		max-width: 550px;
	}
	&__burger-btn {
		display: none;
	}
	&__nav-list {
		@include reset-list;

		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -26px;
	}
	&__nav-item {
		margin: 0 0 0 22px;
	}
	&__nav-link {
		font-size: 20px;
		font-weight: 600;
		color: $grey;
		text-decoration: none;
	}
	&__nav-link[href] {
		&:hover {
			color: #262626;
		}
	}
	&__nav-item--current {
		.header__nav-link {
			font-weight: bold;
			color: #262626;
		}
	}
	&__soc {
		max-width: 215px;
		flex-grow: 1;
	}
	&__soc-list {
		@include reset-list;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__soc-link {
		display: block;

		background-repeat: no-repeat;
		background-position: center center;
	}
	&__soc {
		&-link--fb {
			width: 13px;
			height: 22px;

			background-image: url(../images/icons/facebook.svg);
		}
		&-link--google {
			width: 31px;
			height: 20px;

			background-image: url(../images/icons/google-plus.svg);
		}
		&-link--vk {
			width: 26px;
			height: 16px;

			background-image: url(../images/icons/vk.svg);
		}
		&-link--youtube {
			width: 20px;
			height: 24px;

			background-image: url(../images/icons/youtube.svg);
		}
		&-link--linkedin {
			width: 21px;
			height: 20px;

			background-image: url(../images/icons/linkedin.svg);
		}
	}
}

@media (max-width: 1100px) {
	.header {
		&__contacts {
			max-width: 680px
		}
	}
}

@media (max-width: 992px) {
	.header {
		&__contacts {
			max-width: 620px;
		}
		&__contacts-item {
			padding: 4px 0 4px 52px;

			font-size: 14px;
			line-height: 18px;
			&::before {
				width: 40px;
				height: 40px;
			}
		}
	}
}

@media (max-width: 900px) {
	.header {
		&__top {
			padding: 20px 0 20px;
		}
		&__contacts {
			max-width: 100%;
			width: 100%;
		}
		&__bottom {
			padding: 20px 0 20px;
		}
		&__nav {
			max-width: 100%;
			width: 100%;
			margin: 0 0 20px;
		}
	}
}


@media (max-width: 660px) {
	.header {
		&__contacts-item {
			width: 100%;
			margin: 0 0 5px;
			padding: 4px 0 4px 40px;
			&::before {
				width: 30px;
				height: 30px;

				background-size: 20px auto;
			}
		}
	}
}

@media (max-width: 600px) {
	.header {
		&__bottom {
			position: relative;
		}
		&__nav {
			order: 2;
			margin: 0;
		}
		&__burger-btn {
			display: block;
			width: 30px;
			height: 30px;
			padding: 0;
			border: none;

			position: absolute;
			top: 18px;
			right: 0;

			text-align: left;

			background-color: transparent;
		}
		&__burger-btn-line {
			width: 25px;
			height: 2px;

			position: absolute;
			@include centering;

			transition: all 0.3s;
			&::before,
			&::after {
				content: '';

				position: absolute;

				width: 25px;
				height: 2px;

				transition: all 0.3s;
			}
		}
		&__nav-list {
			display: block;
			margin: 20px 0 0;
		}
		&__nav-item {
			margin: 0 0 10px;
		}
		&__nav-link {
			display: block;
		}
		&__nav--closed {
			.header__burger-btn-line {
				background-color: #262626;
				&::before,
				&::after {
					background-color: #262626;
				}
				&::before {
					transform: translateY(-6px);
				}
				&::after {
					transform: translateY(6px);
				}
			}
			.header__nav-list {
				display: none;
			}
		}
		&__nav--opened {
			.header__burger-btn-line {
				&::before,
				&::after {
					background-color: #262626;
				}
				&::before {
					transform: translate(0) rotate(135deg);
				}
				&::after {
					transform: translate(0) rotate(-135deg);
				}
			}
		}
		&__nav--nojs {
			.header__burger-btn {
				display: none;
			}
			.header__nav-list {
				display: block;
			}
		}
	}
}




