$blue: #1a9bdc;
$grey: #6a6a6a;


@mixin reset-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

@mixin centering {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin centeringTopX {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centeringBottomX {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centeringLeftY {
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

@mixin centeringRightY {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
